#idNavigation {
    position: sticky;
    top: 0;
    background-color: blueviolet;
    color: white;
    z-index: 10;
    transition: transform 0.5s;
    transform: translate(0, 0);
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#naviName {
    margin: 1em;
    display: none;
}

.classMenu {
    font-weight: bold;
    display: inline-block;
    padding: 0.5em;
    cursor: pointer;
}

.classMenu:hover {
    opacity: 0.6;
}

@media (min-width: 640px) {
    #naviName {
        display: unset;
    }

    .classMenu {
        padding: 0 1em;
    }
}